.container {
    border: 1px solid rgba(0,0,0,1);
    height: 400px;
    position: relative;
    max-width: 700px;
    margin: auto;
}

.controls {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto;
}

.messages {
    padding-top: 0.7em;
    position: absolute;
    width: 100%;
    top: 0;
    height: 345px;
    overflow-y: scroll;
}

.right {
    width: fit-content;
    margin-left: auto;
}

h3 {
    text-align: center;
}